<!DOCTYPE html>
<html>
  <%- include('partials/head',{
    title : 'Home'
})%>
  <body class="home-body">
    <div class="home--items">
      <a href="/genres"><i class="fa-solid fa-masks-theater"></i><h5>GÉNEROS</h5></a>
      <a href="/movies"><i class="fa-solid fa-film"></i><h5>PELÍCULAS</h5></a>
      <a href="#"><i class="fa-regular fa-star"></i><h5>ACTORES</h5></a>
    </div>
    <div>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </div>
  </body>
</html>
