<header>
  <div class="movie--header">
    <div class="d-flex justify-content-between gap-50">
    <div>
    <img src="/img/logo-DH.png" alt="Logo Digital House">
  </div>
    <div class="header-dropdown"></div>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
        </a>
      
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/genres"><i class="fa-solid fa-masks-theater"></i>Generos</a></li>
          <li><a class="dropdown-item" href="/movies"><i class="fa-solid fa-film"></i>Películas</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa-regular fa-star"></i>Actores</a></li>
        </ul>
      </div>
    </div>
    </div>
    </div>
  </header>